.timetable {
  padding: 70px 0 100px;
  @include media-mm(376px, $md) {
    padding: 0px 0 100px;
  };
  @include media-mm(0, 375px) {
    padding: 0px 0 150px;
  }
  h1 {
    padding: 50px 0 175px;
    text-align: center;
    @include media-mm(0, 375px) {
      padding: 50px 0 220px;
    }
  }
  .timetable__wrap {
    position: relative;
    display: flex;
    justify-content: space-around;
    @include media-mm(0, 375px) {
      min-width: 325px;
      transform: rotate(90deg);
    }
    @include media-mm(376px, 500px) {
      justify-content: space-evenly;
    };
    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 5px;
      background-color: $main-bgc;
      top: 0;
      left: 0;
    }
    .timetable__item {
      position: relative;
      font-size: 25px;

      p {
        position: absolute;
        content: "";
        top: 100px;
        left: 0;
        transform: translateX(-50%);
        // white-space: nowrap;
        text-align: center;
        min-width: 125px;
        line-height: 0.8;
        @include media-mm(0, 375px) {
          top: 80px;
        }
      }
      &::before {
        position: absolute;
        content: "";
        width: 5px;
        height: 40px;
        background-color: $main-bgc;
        top: -17px;
        left: 0;
        transform: translateX(-50%);
      }
      &::after {
        position: absolute;
        content: "";
        width: 50px;
        height: 50px;
        background-color: $main-bgc;
        top: 45px;
        left: 0;
        transform: translateX(-50%);
        border-radius: 45% 55% 39% 61% / 35% 47% 53% 65%;
        border: 1px solid darken($main-bgc, 10%);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        @include media-mm(0, 375px) {
          top: 25px;
        }
      }
      &:nth-child(2n) {
        p {
          top: -150px;
          @include media-mm(0, 375px) {
            top: -140px;
          }
        }
        &::after {
          top: -90px;
          @include media-mm(0, 375px) {
            top: -75px;
          }
        }
      }
      &:nth-child(1) {
        &::after {
          background-image: url(../svg/screen-heart.svg);
        }
      }
      &:nth-child(2) {
        &::after {
          background-image: url(../svg/discourse.svg);
        }
      }
      &:nth-child(3) {
        &::after {
          background-image: url(../svg/man-taking-hand.svg);
        }
      }
      &:nth-child(4) {
        &::after {
          background-image: url(../svg/couple-on-screen.svg);
        }
      }
    }
  }
}
