@include reset();
@import url("https://fonts.googleapis.com/css2?family=Marck+Script&display=swap");
html {
  scroll-behavior: smooth;
  font-size: 16px;
}
body {
  background-image: url(../img/bg-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  font-family: "Marck Script", cursive;

  &::before {
    content: "";
    bottom: 0;
    left: 0;
    background-image: url(../img/bottomLeftBG.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 300px;
    position: fixed;
    z-index: -1;
  }
  &::after {
    content: "";
    top: 0;
    right: 0;
    background-image: url(../img/topRightBG.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 300px;
    position: fixed;
    z-index: -1;
  }
}
section,
footer,
header {
  z-index: 1;
}

* {
  box-sizing: border-box;
}
.container-fluid {
  width: 100%;
  padding: 0;
}
div,
span,
time,
a {
  font-size: 1.375rem;
}
h1 {
  font-size: 2.1875rem;
}
h2 {
  font-size: 2rem;
}

a {
  color: $main-bgc;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
