.footer {
  padding: 100px 0;
  text-align: center;
  position: relative;
  .zoom-wrap {
    text-align: center;
    text-decoration: none;
    color: black;
    border: 1px solid currentColor;
    border-radius: 10px;
    padding: 15px;
    background-color: $main-bgc;
    width: 50%;
    margin: 0 auto;
    @include media-mm(0, $xs) {
      width: 100%;
    }
  }
  li {
    h2 {
      a {
        @extend h2;
        color: white;
      }
    }
  }
  form {
    margin: 25px 0;
    .form-inner-wrap {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  }
  input {
    padding: 15px;
    text-align: center;
    background-color: white;
    border-color: $main-bgc;
    color: black;
    cursor: pointer;
    &:first-child {
      border-radius: 10px 10px 0 0;
      border-bottom: 0;
    }
    &:last-child {
      border-top: 0;
      border-radius: 0 0 10px 10px;
      background-color: $main-bgc;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      @include anim();
      &:hover {
        background-color: white;
      }
    }
    @include media($md) {
      width: 60%;
      margin: 0 auto;
    }
  }
  .details {
    padding: 15px;
    border: 2px solid $main-bgc;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    @include media($md) {
      width: 60%;
      margin: 0 auto;
    }

    & .support-staff {
      position: relative;
      width: fit-content;
      text-align: center;
      margin: 0 auto;
      &::after {
        border-radius: 50%;
        background-color: rgba(40,88,121,.527);
        content: "";
        position: absolute;
        background-image: url(../svg/support.svg);
        width: 27px;
        height: 27px;
        top: 0;
        left: -40px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }
    }
  }

}
